.img-container
{
    width: 100%;
    height: 700px;
    background-color: black;
}

.img-container img
{
    margin-top: -150px;
    width: 100%;
}

.overlay
{
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.11);
    width: 100%;
    height: 100%;
}