a
{
    text-decoration: none;
}

.movie-card
{
    width: 256px;
    height: 550px;
    /*border: 2px solid black;*/
    /*background-color: lightpink;*/
    /*padding: 15px;*/
    margin: 10px 20px;
    transition: transform .5s;
    cursor: pointer;
    color: white;
}

.movie-card:hover
{
    transform: scale(1.06);
}

.movie-img
{
    height: 378px;
    /*border: 2px solid black;*/
}

.movie-img img
{
    width: 100%;
    max-height: 100%;
}

.title
{
    margin-top: 8px;
    font-size: 25px;
    text-align: center;
    font-family: 'Oswald', sans-serif;

}

.rating
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.rating img
{
    width: 15px;
    height: 15px;
}

.genre-container
{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.genre
{
    font-size: 14px;
    margin: 2px 10px;
}

.Premiere-movie-card
{
    width: 256px;
    height: 450px;
    margin: 10px 20px;
    transition: transform .5s;
    cursor: pointer;
    color: white;
}

.Premiere-movie-card:hover
{
    transform: scale(1.06);
}

@media only screen and (max-width: 450px)
{
    .movie-card
    {
        margin: 0;
    }
}